Repository sofia-munoz/Digital-Booking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, backend-test, frontend-test, backend-deploy, frontend-deploy

backend-build:
  stage: build
  image: maven:latest
  needs: []
  script:
  - cd BackEnd/proyecto-integrador/demo/
  - echo "Starting the Maven project compile..."
  - mvn compile

frontend-build:
  stage: build
  needs: []
  script:
  - echo "Compiling the frontend code..."

backend-test:
  stage: test
  needs:
  - backend-build
  script:
  - echo "Testing the backend code..."

frontend-test:
  stage: test
  needs:
  - frontend-build
  script:
  - echo "Testing the frontend code..."

backend-deploy:
  stage: deploy
  needs:
  - backend-test
  script:
  - echo "Deploying the backend code..."

frontend-deploy:
  stage: deploy
  needs:
  - frontend-test
  script:
  - echo "Deploying the frontend code..."

prueba 8 runner back
  .gitlab-ci.yml
Due: none

prueba 9 runner back
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

prueba 10 runner back
  .gitlab-ci.yml
Due: none

adfagd
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

prueba 11 runner back
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

prueba 12 runner front
  FrontEnd/prueba.txt
Due: frontend-build, frontend-test, frontend-deploy

prueba 13 runner
  .gitlab-ci.yml
Due: none

prueba 14 BE runner
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Agrego galeria de fotos
  FrontEnd/package-lock.json
  FrontEnd/package.json
  FrontEnd/src/components/Gallery/gallery.module.css
  FrontEnd/src/components/Gallery/index.jsx
  FrontEnd/src/hooks/useScreenSize.js
Due: frontend-build, frontend-test, frontend-deploy

prueba
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

Path conditions:
  backend-build: any of: BackEnd/**/*
  frontend-build: any of: FrontEnd/**/*
  backend-test: any of: BackEnd/**/*
  frontend-test: any of: FrontEnd/**/*
  backend-deploy: any of: BackEnd/**/*
  frontend-deploy: any of: FrontEnd/**/*
