Repository sofia-munoz/Digital-Booking: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, frontend-build, backend-test, frontend-test, backend-deploy, frontend-deploy

.gitlab-ci.yml:

stages:
  - build
  - test
  - deploy


.base-rules:
  rules:
    - changes:
       - /**/*


.backend:
  rules:
    - changes:
       - BackEnd/**/*

.frontend:
  rules:
    - changes:
       - FrontEnd/**/*

backend-build:
  stage: build
  image: maven:latest
  extends: .backend
  needs: []
  script:
    - cd BackEnd/proyecto-integrador/demo/
    - echo "Starting the Maven project compile..."
    - "mvn compile"

frontend-build:
  stage: build
  extends: .frontend
  needs: []
  script:
    - echo "Compiling the frontend code..."

backend-test:
  stage: test
  extends: .backend
  needs: ["backend-build"]
  script:
    - echo "Testing the backend code..."

frontend-test:
  stage: test
  extends: .frontend
  needs: ["frontend-build"]
  script:
    - echo "Testing the frontend code..."

backend-deploy:
  stage: deploy
  extends: .backend
  needs: ["backend-test"]
  script:
    - echo "Deploying the backend code..."

frontend-deploy:
  stage: deploy
  extends: .frontend
  needs: ["frontend-test"]
  script:
    - echo "Deploying the frontend code..."

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

include test in pipeline
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

image maven latest
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

change directory before testing
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

mvn package
  .gitlab-ci.yml
Due: none

mvn package test
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

mvn test
  .gitlab-ci.yml
Due: none

mvn test
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

variable in base rules
  .gitlab-ci.yml
Due: none

BackEnd correction
  .gitlab-ci.yml
Due: none

backend commit test
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

Frontend rule included
  .gitlab-ci.yml
Due: none

Prueba commit Front
  FrontEnd/prueba.txt
Due: frontend-build, frontend-test, frontend-deploy

mvn test included in the first job
  .gitlab-ci.yml
Due: none

test
  BackEnd/proyecto-integrador/demo/prueba.txt
Due: backend-build, backend-test, backend-deploy

mvn test removed from the first job
  .gitlab-ci.yml
Due: none

mvn package included in second job
  .gitlab-ci.yml
Due: none

mvn package removed
  .gitlab-ci.yml
Due: none

test
  FrontEnd/prueba.txt
Due: frontend-build, frontend-test, frontend-deploy

frontend pipeline integration
  .gitlab-ci.yml
Due: none

image python
  .gitlab-ci.yml
Due: none

aws credentials
  .gitlab-ci.yml
Due: none

all tables and joins
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/controller/categoriaController.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/controller/productoController.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Categoria.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Imagen.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Politica.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Producto.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Provincia.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/politica.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/repository/ProductoRepository.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/service/ProductoService.java
  BackEnd/proyecto-integrador/demo/src/main/resources/application.properties
Due: backend-build, backend-test, backend-deploy

Imagen endPoints
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/controller/imagenController.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Categoria.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/repository/ProductoRepository.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/service/ProductoService.java
Due: backend-build, backend-test, backend-deploy

con ultimos cambios de Back
  .gitlab-ci.yml
Due: none

Principal endPoints
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/controller/ProvinciaController.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/controller/ciudadController.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/controller/imagenController.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Ciudad.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/model/Provincia.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/repository/CiudadRepository.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/repository/ImagenRepository.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/service/CiudadService.java
  BackEnd/proyecto-integrador/demo/src/main/java/com/example/demo/proyecto/service/ImagenService.java
Due: backend-build, backend-test, backend-deploy
